<body>
  <header>
    <h2><a href="#"></a></h2>
    <nav>
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/players']">Players</a></li>
      <li><a [routerLink]="['/players/new']">Add Player</a></li>
    </nav>
  </header>
  <section class="hero">
    <div class="background-image" style="background-image: url(/assets/img/shanklygates.jpg);"></div>
<!-- 
    <div class="mainTableDiv">
      <table>
        <thead>
          <th>Pos</th>
          <th>Team</th>
        </thead>
        <tbody>
          <tr *ngFor="let team of standings">
            <td>{{ team.overall_league_position }}</td>
            <td>{{ team.team_name }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div class="spacer">
    </div>
    <div class="gif">
      <!-- <img src="https://thumbs.gfycat.com/RequiredWhoppingAmericanindianhorse-size_restricted.gif" alt="puskas"> -->
      <!-- <img src="https://thumbs.gfycat.com/DeafeningBriskBunny-size_restricted.gif" alt="puskas"> -->
      <img class="salah" src="https://thumbs.gfycat.com/AgileViciousEastrussiancoursinghounds-size_restricted.gif" alt="puskas">
    </div>


    <!-- <div class="cfb"></div> -->
  </section>
</body>
